@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins&display=swap');

:root {
    --darkBlue: hsl(213, 19%, 18%);
    --darkBlueShade: hsl(213, 19%, 24%);
    --lightGrey: hsl(217, 12%, 63%);
    --linkBlue: hsl(228, 45%, 44%);
    --mediumGrey: hsl(216, 12%, 54%);
    --orange: hsl(25, 97%, 53%);
    --veryDarkBlue: hsl(216, 12%, 8%);
    --white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--veryDarkBlue);
    color: var(--white);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    font-family: 'Overpass', sans-serif;

    height: 100vh;
}

h2 {
    margin: 1rem 0;
}

p {
    color: var(--mediumGrey);
    font-size: 0.9375rem;
    line-height: 1.35rem;
    text-align: justify;
    
    margin: 1rem 0;
}

ul {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
}

.btn:hover {
    cursor: pointer
}

.card {
    background-color: var(--darkBlue);

    border-radius: 2rem;
    
    height: 20rem;
    width: 18rem;

    margin: 1rem;
    padding: 2rem;
}

.header {
    margin: 0 0 0.5rem 0;
}

.star-img {
    background-color: var(--darkBlueShade);
    border-radius: 50%;
    display: inline-block;
    height: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.btn__ratings__list {
    margin: 1.5rem 0;
}

.btn__rate {
    background-color: var(--darkBlueShade);
    
    border-radius: 50%;

    color: var(--lightGrey);

    height: 1rem;
    width: 1rem;
    
    padding: 1rem;

    text-align: center;
    transition: all 100ms ease-in-out;
}

.btn__rate__hover:hover {
    background-color: var(--orange);
    color: var(--white);
}

.footer {
    margin-top: 1.6875rem;
}

.btn__submit {
    background-color: var(--orange);
    color: var(--white);

    border: none;
    border-radius: 1.5rem;
    
    font-weight: bold;

    padding: 0.75rem;
    
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: all 100ms ease-in-out;

    width: 100%;
}

.btn__submit:hover {
    background-color: var(--white);
    color: var(--orange);
}

#card__thanks {
    text-align: center;
}

#rating__selected {
    background-color: var(--darkBlueShade);

    border-radius: 2rem;

    color: var(--orange);
    display: inline-block;
    padding: 0.25rem 1rem;
}

#thanks__footer {
    margin-top: 0;    
}

#thanks__text {
    text-align: center;
}

.hide {
    display: none;
}

.selected {
    background-color: var(--lightGrey);
    color: var(--white);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--linkBlue);
}

@media (min-width: 400px) {
    .card {
        height: 19rem;
        width: 21rem;
    }
}